<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="icon" href="{{ asset('/media/favicon.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
    {{ encore_entry_link_tags('base') }}
    {% endblock %}
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

</head>

<body>
    
    <div class="d-flex" id="wrapper">

        <div class="bg-light border-right sidebar-background" id="sidebar-wrapper">
            <div class="sidebar-heading">
                <a href="{{ path('app_home') }}">
                  
                </a>
            </div>
            {# <div class="mb-5 text-center">
                <h5>Scrapyard</h5>
                <hr>
            </div> #}

            <div class="list-group list-group-flush">

                {% set user_info = null %}
                {% if is_granted('ROLE_USER') %}
                {% if user is defined %}
                {% set user_info = user %}
                {% endif %}

                {% endif %}
                <div data-params="{{ user_info ? user_info : "" }}" route="{{app.request.attributes.get('_route')}}"
                    id="root_login" data-toggle="tooltip" data-placement="left" title="Get login fom"></div>
                    
                <div data-params="{{ user_info ? user_info : "" }}" id="root_register" data-toggle="tooltip"
                    data-placement="left" title="Get register fom"></div>
            </div>


            <div class="sidebar-footer">
            </div>



        </div>

        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav class="navbar  navbar-expand-lg border-bottom navbar-background">
                <section class="icon-list">
                    <button id="menu-toggle" class="btn btn-default" data-toggle="tooltip" data-placement="top"
                        title="Open and close the sidebar">
                        open
                    </button>

                </section>


                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item p-2">
                            <!-- whatsapp -->
                            <div class="text-center">
                                {# {% if is_granted('ROLE_USER') == false %}
                                <a><span id="openModal">
                                        Login</span></a>
                                {% else %}
                                <a><span id="log-out">
                                        Log-out</span></a>
                                {% endif %} #}
                                {# <img src="{{ asset('media/scrapyard.png') }}" class="img-responsive" width="100"
                                    alt="Image"> #}
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="container-fluid main">
                <main id="" class="p-4">
                    {% block body %}{% endblock %}
                </main>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    {% block javascripts %}
    {{ encore_entry_script_tags('base') }}
    {% endblock %}
  

</body>

</html>