@import "./helper/_helper.scss";




 

form.dropzone {
    background-image: url('/media/garage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

