

/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */

.collapse div a{
  color: black !important;
  font-weight: 600;
 
}
.collapse div {
  color: black !important;
  font-weight: 600;
  background-color: rgba(241, 241, 241, 0.623) !important;
}


.register-button{
  color: black !important;
  font-weight: 600;
  background-color: rgba(241, 241, 241, 0.623) !important;
}

.register-button:hover{
  background-color: rgb(241, 241, 241) !important;
}
.collapse div:hover {
  background-color: rgb(241, 241, 241) !important;
}

nav button {
  color: black !important;
  font-weight: 600;
  background-color: rgba(241, 241, 241, 0.623) !important;
}
nav button:hover {
  background-color: rgb(241, 241, 241) !important;
}
#wrapper {
  overflow-x: hidden;
  z-index: 9;
}

#root_login .d-flex a,
button {
  text-align: left !important;
}

a.active-item {
  background-color: black !important;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

.sidebar-heading {
  background-image: url("/media/logo_vec.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80% 80%;
  min-height: 250px;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#page-content-wrapper .main{
  max-height: 900px;
  overflow-y: scroll;
  z-index: 0;

}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.sidebar-background {
  background-image: url("/media/garage.jpg");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

.navbar-background {
  min-height: 100px;
  background-image: url("/media/garage.jpg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
