@import "./helper/helper.scss";

div.carousel {
    width: 100%;
    & div.thumbs-wrapper.axis-vertical {
        border-radius: 15px;
        border: solid 2px black;
        padding-top: 5%;
        background-image: url("/media/garage.jpg");
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        & li.selected {
        }
    }
}

div.slider-wrapper.axis-vertical {
    & ul.slider.animated > li div img {
        min-height: 250px;
    }
}
