$teal: rgb(255, 39, 39);
$enable-shadows: true;
  

i {
    color: $teal !important;
}

@import "~bootstrap-material-design/scss/variables";
@import "../componets/modal.scss";
@import "~bootstrap-material-design/scss/bootstrap-material-design";
