{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('user_article') }}
{% endblock %}

{% block javascripts %}
{{parent()}}
{{ encore_entry_script_tags('user_article') }}
{% endblock %}
{% block body %}

<div class="row">
    <div userid="{{ user }}" id="root_user_article"></div>
</div>
{% endblock %}