{% extends 'base.html.twig' %}

{% block title %}Hello CreateArticleController!{% endblock %}
{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('article') }}
{% endblock %}
{% block body %}
 
<div class="container-fluid layer">
    <div update="{{ app.request.attributes.get('_route') == 'app_update_article' ? {true:true}|json_encode() :  {true:false}|json_encode() }}"
        article="{{ app.request.attributes.get('_route') == 'app_update_article' ? article : "" }}"
        user="{% if user|default  %}{{user}}{% endif %}" id="root_article">
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{parent()}}
{{ encore_entry_script_tags('article') }}
{% endblock %}