{% extends 'base.html.twig' %}

{% block title %}Article detail{% endblock %}
{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('detail_article') }}
{% endblock %}


{% block body %}
<div class="container-fluid">

    <div article="{{id}}" id="detail_article"></div>

</div>

{% endblock %}

{% block javascripts %}
{{parent()}}
{{ encore_entry_script_tags('detail_article') }}
{% endblock %}