{% extends "base.html.twig" %}

{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('home') }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('home') }}
{% endblock %}


{% block body %}

<div class="row">

 

    <div id="root"></div>
 
 
</div>


{# 
<div class="row">


  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <form id="data" method="post" enctype="multipart/form-data">
      <input name="file" class="form-control-sm" type="file" />
      <input name="article" class="form-control-sm" type="hidden" value="5e213131-62c4-4de6-a67d-9617ba452a43">
      <button type="submit" class="btn-button primary"> Submit</button>
    </form>
  </div>

</div> #}


{% endblock %}